.p{ 
   background-color: darkolivegreen;
    font-family: sans-serif;
    margin-top: 0%;
    width: auto;
color: black; 
font-size: 30px ;
font-weight: 200;
font-style: italic;
text-align: center;
text-decoration: none;
}